{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Pet{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <h3>Pet</h3>
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="dob">Date of birth</label>
    <input name="dob" id="dob" value="{{ request.form['dob'] }}" >
    <p>
      {{ form.owner_id.label }}<br>
      {{ form.owner_id() }}
      {% for error in form.owner_id.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
  </form>
{% endblock %}