{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Pets{% endblock %}</h1>
  {% if g.user %}
    <a href="{{ url_for('pet.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for pet in pets %}
    <article>
      <header>
        <div>
          <p>
            {{ pet['name'] }}
            <a href="{{ url_for('pet.update', pet_id=pet['id']) }}">Edit</a>
            <form method="post" action="{{ url_for('pet.delete', pet_id=pet['id']) }}">
          <input type="submit" onclick="return confirm('Are you sure?')" value="delete">
        </form>
          </p>
        </div>
      </header>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}