{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ pet['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or pet['name'] }}" required>
    <label for="date_of_birth">Date of birth</label>
    <input name="date_of_birth" id="date_of_birth" value="{{ request.form['date_of_birth'] or pet['date_of_birth'] }}" >
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('pet.delete', id=pet['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}