{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Booking{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="" method="post" novalidate>
    <dl>
        {{ render_field(form.owner_id) }}
        {{ render_field(form.pet_id) }}
        {{ render_field(form.check_in_date, class_="datepicker") }}
        {{ render_field(form.check_out_date, class_="datepicker") }}
    </dl>
    <p><input type=submit value=Create></p>
</form>
{% endblock %}