{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Feeding Schedule{% endblock %}</h1>
  {% if g.admin %}
    <a class="action" href="{{ url_for('schedule.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<dl>
{% for day, items in schedule.items() %}
  <dt>{{ day }}</dt>
    {% for item in items %}
      <dd>Time: {{ item['time_of_day'] }}, Food: {{ item['label'] }} Portion Size: {{ item['food_amount_in_grams'] }}grams</dd>
    {% endfor %}
{% endfor %}
</dl>

{% endblock %}